/* File: automatic-variables.css - Version: 2.8.3 - Generated: 2024-04-25 11:02:54 */
:root, .color-scheme--main {
  --action-hex: #4a8000;
  --action-hsl: 85 100% 25%;
  --action-rgb: 74 128 0;
  --action-r: 74;
  --action-g: 128;
  --action-b: 0;
  --action-h: 85;
  --action-s: 100%;
  --action-l: 25%;
  --action-hover-h: 85;
  --action-hover-s: 100%;
  --action-hover-l: 1.15;
  --action-ultra-light-h: 85;
  --action-ultra-light-s: 100%;
  --action-ultra-light-l: 95%;
  --action-light-h: 85;
  --action-light-s: 100%;
  --action-light-l: 85%;
  --action-medium-h: 85;
  --action-medium-s: 100%;
  --action-medium-l: 50%;
  --action-dark-h: 85;
  --action-dark-s: 100%;
  --action-dark-l: 25%;
  --action-ultra-dark-h: 85;
  --action-ultra-dark-s: 100%;
  --action-ultra-dark-l: 10%;
  --action-comp-h: 265;
  --primary-hex: #397ca3;
  --primary-hsl: 202 48% 43%;
  --primary-rgb: 57 124 163;
  --primary-r: 57;
  --primary-g: 124;
  --primary-b: 163;
  --primary-h: 202;
  --primary-s: 48%;
  --primary-l: 43%;
  --primary-hover-h: 202;
  --primary-hover-s: 48%;
  --primary-hover-l: 1.15;
  --primary-ultra-light-h: 202;
  --primary-ultra-light-s: 48%;
  --primary-ultra-light-l: 95%;
  --primary-light-h: 202;
  --primary-light-s: 48%;
  --primary-light-l: 85%;
  --primary-medium-h: 202;
  --primary-medium-s: 48%;
  --primary-medium-l: 50%;
  --primary-dark-h: 202;
  --primary-dark-s: 48%;
  --primary-dark-l: 25%;
  --primary-ultra-dark-h: 202;
  --primary-ultra-dark-s: 48%;
  --primary-ultra-dark-l: 10%;
  --primary-comp-h: 382;
  --secondary-hex: #8a305f;
  --secondary-hsl: 329 48% 36%;
  --secondary-rgb: 138 48 95;
  --secondary-r: 138;
  --secondary-g: 48;
  --secondary-b: 95;
  --secondary-h: 329;
  --secondary-s: 48%;
  --secondary-l: 36%;
  --secondary-hover-h: 329;
  --secondary-hover-s: 48%;
  --secondary-hover-l: 1.15;
  --secondary-ultra-light-h: 329;
  --secondary-ultra-light-s: 48%;
  --secondary-ultra-light-l: 95%;
  --secondary-light-h: 329;
  --secondary-light-s: 48%;
  --secondary-light-l: 85%;
  --secondary-medium-h: 329;
  --secondary-medium-s: 48%;
  --secondary-medium-l: 50%;
  --secondary-dark-h: 329;
  --secondary-dark-s: 48%;
  --secondary-dark-l: 25%;
  --secondary-ultra-dark-h: 329;
  --secondary-ultra-dark-s: 48%;
  --secondary-ultra-dark-l: 10%;
  --secondary-comp-h: 509;
  --accent-hex: #00a361;
  --accent-hsl: 156 100% 32%;
  --accent-rgb: 0 163 97;
  --accent-r: 0;
  --accent-g: 163;
  --accent-b: 97;
  --accent-h: 156;
  --accent-s: 100%;
  --accent-l: 32%;
  --accent-hover-h: 156;
  --accent-hover-s: 100%;
  --accent-hover-l: 1.15;
  --accent-ultra-light-h: 156;
  --accent-ultra-light-s: 100%;
  --accent-ultra-light-l: 95%;
  --accent-light-h: 156;
  --accent-light-s: 100%;
  --accent-light-l: 85%;
  --accent-medium-h: 156;
  --accent-medium-s: 100%;
  --accent-medium-l: 50%;
  --accent-dark-h: 156;
  --accent-dark-s: 100%;
  --accent-dark-l: 25%;
  --accent-ultra-dark-h: 156;
  --accent-ultra-dark-s: 100%;
  --accent-ultra-dark-l: 10%;
  --accent-comp-h: 336;
  --base-hex: #404040;
  --base-hsl: 0 0% 25%;
  --base-rgb: 64 64 64;
  --base-r: 64;
  --base-g: 64;
  --base-b: 64;
  --base-h: 0;
  --base-s: 0%;
  --base-l: 25%;
  --base-hover-h: 0;
  --base-hover-s: 0%;
  --base-hover-l: 1.15;
  --base-ultra-light-h: 0;
  --base-ultra-light-s: 0%;
  --base-ultra-light-l: 95%;
  --base-light-h: 0;
  --base-light-s: 0%;
  --base-light-l: 85%;
  --base-medium-h: 0;
  --base-medium-s: 0%;
  --base-medium-l: 50%;
  --base-dark-h: 0;
  --base-dark-s: 0%;
  --base-dark-l: 25%;
  --base-ultra-dark-h: 0;
  --base-ultra-dark-s: 0%;
  --base-ultra-dark-l: 10%;
  --base-comp-h: 180;
  --shade-hex: #000000;
  --shade-hsl: 0 0% 0%;
  --shade-rgb: 0 0 0;
  --shade-r: 0;
  --shade-g: 0;
  --shade-b: 0;
  --shade-h: 0;
  --shade-s: 0%;
  --shade-l: 0%;
  --shade-hover-h: 0;
  --shade-hover-s: 0%;
  --shade-hover-l: 1.15;
  --shade-ultra-light-h: 0;
  --shade-ultra-light-s: 0%;
  --shade-ultra-light-l: 95%;
  --shade-light-h: 0;
  --shade-light-s: 0%;
  --shade-light-l: 85%;
  --shade-medium-h: 0;
  --shade-medium-s: 0%;
  --shade-medium-l: 50%;
  --shade-dark-h: 0;
  --shade-dark-s: 0%;
  --shade-dark-l: 25%;
  --shade-ultra-dark-h: 0;
  --shade-ultra-dark-s: 0%;
  --shade-ultra-dark-l: 10%;
  --shade-comp-h: 180;
  --neutral-hex: #000000;
  --neutral-hsl: 0 0% 0%;
  --neutral-rgb: 0 0 0;
  --neutral-r: 0;
  --neutral-g: 0;
  --neutral-b: 0;
  --neutral-h: 0;
  --neutral-s: 0%;
  --neutral-l: 0%;
  --neutral-hover-h: 0;
  --neutral-hover-s: 0%;
  --neutral-hover-l: 1.15;
  --neutral-ultra-light-h: 0;
  --neutral-ultra-light-s: 0%;
  --neutral-ultra-light-l: 95%;
  --neutral-light-h: 0;
  --neutral-light-s: 0%;
  --neutral-light-l: 85%;
  --neutral-medium-h: 0;
  --neutral-medium-s: 0%;
  --neutral-medium-l: 50%;
  --neutral-dark-h: 0;
  --neutral-dark-s: 0%;
  --neutral-dark-l: 25%;
  --neutral-ultra-dark-h: 0;
  --neutral-ultra-dark-s: 0%;
  --neutral-ultra-dark-l: 10%;
  --neutral-comp-h: 180;
  --action: #4a8000;
  --action-hover: #569300;
  --action-ultra-light: #f4ffe6;
  --action-light: #dfffb3;
  --action-medium: #95ff00;
  --action-dark: #4a8000;
  --action-ultra-dark: #1e3300;
  --action-comp: #350080;
  --primary: #397ca3;
  --primary-hover: #428ebb;
  --primary-ultra-light: #ecf4f8;
  --primary-light: #c6deeb;
  --primary-medium: #4290bd;
  --primary-dark: #21485e;
  --primary-ultra-dark: #0d1d26;
  --primary-comp: #a26039;
  --secondary: #8a305f;
  --secondary-hover: #9c376b;
  --secondary-ultra-light: #f8ecf2;
  --secondary-light: #ebc6d9;
  --secondary-medium: #bd4282;
  --secondary-dark: #5e2141;
  --secondary-ultra-dark: #260d1a;
  --secondary-comp: #30885a;
  --accent: #00a361;
  --accent-hover: #00bc71;
  --accent-ultra-light: #e6fff5;
  --accent-light: #b3ffe0;
  --accent-medium: #0f9;
  --accent-dark: #00804d;
  --accent-ultra-dark: #00331f;
  --accent-comp: #a30041;
  --base: #404040;
  --base-hover: #494949;
  --base-ultra-light: #f2f2f2;
  --base-light: #d9d9d9;
  --base-medium: gray;
  --base-dark: #404040;
  --base-ultra-dark: #1a1a1a;
  --base-comp: #404040;
  --shade: #000000;
  --shade-hover: black;
  --shade-ultra-light: #f2f2f2;
  --shade-light: #d9d9d9;
  --shade-medium: gray;
  --shade-dark: #404040;
  --shade-ultra-dark: #1a1a1a;
  --shade-comp: black;
  --neutral: #000000;
  --neutral-hover: black;
  --neutral-ultra-light: #f2f2f2;
  --neutral-light: #d9d9d9;
  --neutral-medium: gray;
  --neutral-dark: #404040;
  --neutral-ultra-dark: #1a1a1a;
  --neutral-comp: black;
  --white: #fff;
  --black: #000;
  --action-trans-10: rgba(74, 128, 0, 0.1);
  --action-trans-20: rgba(74, 128, 0, 0.2);
  --action-trans-30: rgba(74, 128, 0, 0.3);
  --action-trans-40: rgba(74, 128, 0, 0.4);
  --action-trans-50: rgba(74, 128, 0, 0.5);
  --action-trans-60: rgba(74, 128, 0, 0.6);
  --action-trans-70: rgba(74, 128, 0, 0.7);
  --action-trans-80: rgba(74, 128, 0, 0.8);
  --action-trans-90: rgba(74, 128, 0, 0.9);
  --action-light-trans-10: rgba(223, 255, 179, 0.1);
  --action-light-trans-20: rgba(223, 255, 179, 0.2);
  --action-light-trans-30: rgba(223, 255, 179, 0.3);
  --action-light-trans-40: rgba(223, 255, 179, 0.4);
  --action-light-trans-50: rgba(223, 255, 179, 0.5);
  --action-light-trans-60: rgba(223, 255, 179, 0.6);
  --action-light-trans-70: rgba(223, 255, 179, 0.7);
  --action-light-trans-80: rgba(223, 255, 179, 0.8);
  --action-light-trans-90: rgba(223, 255, 179, 0.9);
  --action-dark-trans-10: rgba(74, 128, 0, 0.1);
  --action-dark-trans-20: rgba(74, 128, 0, 0.2);
  --action-dark-trans-30: rgba(74, 128, 0, 0.3);
  --action-dark-trans-40: rgba(74, 128, 0, 0.4);
  --action-dark-trans-50: rgba(74, 128, 0, 0.5);
  --action-dark-trans-60: rgba(74, 128, 0, 0.6);
  --action-dark-trans-70: rgba(74, 128, 0, 0.7);
  --action-dark-trans-80: rgba(74, 128, 0, 0.8);
  --action-dark-trans-90: rgba(74, 128, 0, 0.9);
  --action-ultra-dark-trans-10: rgba(30, 51, 0, 0.1);
  --action-ultra-dark-trans-20: rgba(30, 51, 0, 0.2);
  --action-ultra-dark-trans-30: rgba(30, 51, 0, 0.3);
  --action-ultra-dark-trans-40: rgba(30, 51, 0, 0.4);
  --action-ultra-dark-trans-50: rgba(30, 51, 0, 0.5);
  --action-ultra-dark-trans-60: rgba(30, 51, 0, 0.6);
  --action-ultra-dark-trans-70: rgba(30, 51, 0, 0.7);
  --action-ultra-dark-trans-80: rgba(30, 51, 0, 0.8);
  --action-ultra-dark-trans-90: rgba(30, 51, 0, 0.9);
  --primary-trans-10: rgba(57, 124, 163, 0.1);
  --primary-trans-20: rgba(57, 124, 163, 0.2);
  --primary-trans-30: rgba(57, 124, 163, 0.3);
  --primary-trans-40: rgba(57, 124, 163, 0.4);
  --primary-trans-50: rgba(57, 124, 163, 0.5);
  --primary-trans-60: rgba(57, 124, 163, 0.6);
  --primary-trans-70: rgba(57, 124, 163, 0.7);
  --primary-trans-80: rgba(57, 124, 163, 0.8);
  --primary-trans-90: rgba(57, 124, 163, 0.9);
  --primary-light-trans-10: rgba(198, 222, 235, 0.1);
  --primary-light-trans-20: rgba(198, 222, 235, 0.2);
  --primary-light-trans-30: rgba(198, 222, 235, 0.3);
  --primary-light-trans-40: rgba(198, 222, 235, 0.4);
  --primary-light-trans-50: rgba(198, 222, 235, 0.5);
  --primary-light-trans-60: rgba(198, 222, 235, 0.6);
  --primary-light-trans-70: rgba(198, 222, 235, 0.7);
  --primary-light-trans-80: rgba(198, 222, 235, 0.8);
  --primary-light-trans-90: rgba(198, 222, 235, 0.9);
  --primary-dark-trans-10: rgba(33, 72, 94, 0.1);
  --primary-dark-trans-20: rgba(33, 72, 94, 0.2);
  --primary-dark-trans-30: rgba(33, 72, 94, 0.3);
  --primary-dark-trans-40: rgba(33, 72, 94, 0.4);
  --primary-dark-trans-50: rgba(33, 72, 94, 0.5);
  --primary-dark-trans-60: rgba(33, 72, 94, 0.6);
  --primary-dark-trans-70: rgba(33, 72, 94, 0.7);
  --primary-dark-trans-80: rgba(33, 72, 94, 0.8);
  --primary-dark-trans-90: rgba(33, 72, 94, 0.9);
  --primary-ultra-dark-trans-10: rgba(13, 29, 38, 0.1);
  --primary-ultra-dark-trans-20: rgba(13, 29, 38, 0.2);
  --primary-ultra-dark-trans-30: rgba(13, 29, 38, 0.3);
  --primary-ultra-dark-trans-40: rgba(13, 29, 38, 0.4);
  --primary-ultra-dark-trans-50: rgba(13, 29, 38, 0.5);
  --primary-ultra-dark-trans-60: rgba(13, 29, 38, 0.6);
  --primary-ultra-dark-trans-70: rgba(13, 29, 38, 0.7);
  --primary-ultra-dark-trans-80: rgba(13, 29, 38, 0.8);
  --primary-ultra-dark-trans-90: rgba(13, 29, 38, 0.9);
  --secondary-trans-10: rgba(138, 48, 95, 0.1);
  --secondary-trans-20: rgba(138, 48, 95, 0.2);
  --secondary-trans-30: rgba(138, 48, 95, 0.3);
  --secondary-trans-40: rgba(138, 48, 95, 0.4);
  --secondary-trans-50: rgba(138, 48, 95, 0.5);
  --secondary-trans-60: rgba(138, 48, 95, 0.6);
  --secondary-trans-70: rgba(138, 48, 95, 0.7);
  --secondary-trans-80: rgba(138, 48, 95, 0.8);
  --secondary-trans-90: rgba(138, 48, 95, 0.9);
  --secondary-light-trans-10: rgba(235, 198, 217, 0.1);
  --secondary-light-trans-20: rgba(235, 198, 217, 0.2);
  --secondary-light-trans-30: rgba(235, 198, 217, 0.3);
  --secondary-light-trans-40: rgba(235, 198, 217, 0.4);
  --secondary-light-trans-50: rgba(235, 198, 217, 0.5);
  --secondary-light-trans-60: rgba(235, 198, 217, 0.6);
  --secondary-light-trans-70: rgba(235, 198, 217, 0.7);
  --secondary-light-trans-80: rgba(235, 198, 217, 0.8);
  --secondary-light-trans-90: rgba(235, 198, 217, 0.9);
  --secondary-dark-trans-10: rgba(94, 33, 65, 0.1);
  --secondary-dark-trans-20: rgba(94, 33, 65, 0.2);
  --secondary-dark-trans-30: rgba(94, 33, 65, 0.3);
  --secondary-dark-trans-40: rgba(94, 33, 65, 0.4);
  --secondary-dark-trans-50: rgba(94, 33, 65, 0.5);
  --secondary-dark-trans-60: rgba(94, 33, 65, 0.6);
  --secondary-dark-trans-70: rgba(94, 33, 65, 0.7);
  --secondary-dark-trans-80: rgba(94, 33, 65, 0.8);
  --secondary-dark-trans-90: rgba(94, 33, 65, 0.9);
  --secondary-ultra-dark-trans-10: rgba(38, 13, 26, 0.1);
  --secondary-ultra-dark-trans-20: rgba(38, 13, 26, 0.2);
  --secondary-ultra-dark-trans-30: rgba(38, 13, 26, 0.3);
  --secondary-ultra-dark-trans-40: rgba(38, 13, 26, 0.4);
  --secondary-ultra-dark-trans-50: rgba(38, 13, 26, 0.5);
  --secondary-ultra-dark-trans-60: rgba(38, 13, 26, 0.6);
  --secondary-ultra-dark-trans-70: rgba(38, 13, 26, 0.7);
  --secondary-ultra-dark-trans-80: rgba(38, 13, 26, 0.8);
  --secondary-ultra-dark-trans-90: rgba(38, 13, 26, 0.9);
  --accent-trans-10: rgba(0, 163, 97, 0.1);
  --accent-trans-20: rgba(0, 163, 97, 0.2);
  --accent-trans-30: rgba(0, 163, 97, 0.3);
  --accent-trans-40: rgba(0, 163, 97, 0.4);
  --accent-trans-50: rgba(0, 163, 97, 0.5);
  --accent-trans-60: rgba(0, 163, 97, 0.6);
  --accent-trans-70: rgba(0, 163, 97, 0.7);
  --accent-trans-80: rgba(0, 163, 97, 0.8);
  --accent-trans-90: rgba(0, 163, 97, 0.9);
  --accent-light-trans-10: rgba(179, 255, 224, 0.1);
  --accent-light-trans-20: rgba(179, 255, 224, 0.2);
  --accent-light-trans-30: rgba(179, 255, 224, 0.3);
  --accent-light-trans-40: rgba(179, 255, 224, 0.4);
  --accent-light-trans-50: rgba(179, 255, 224, 0.5);
  --accent-light-trans-60: rgba(179, 255, 224, 0.6);
  --accent-light-trans-70: rgba(179, 255, 224, 0.7);
  --accent-light-trans-80: rgba(179, 255, 224, 0.8);
  --accent-light-trans-90: rgba(179, 255, 224, 0.9);
  --accent-dark-trans-10: rgba(0, 128, 77, 0.1);
  --accent-dark-trans-20: rgba(0, 128, 77, 0.2);
  --accent-dark-trans-30: rgba(0, 128, 77, 0.3);
  --accent-dark-trans-40: rgba(0, 128, 77, 0.4);
  --accent-dark-trans-50: rgba(0, 128, 77, 0.5);
  --accent-dark-trans-60: rgba(0, 128, 77, 0.6);
  --accent-dark-trans-70: rgba(0, 128, 77, 0.7);
  --accent-dark-trans-80: rgba(0, 128, 77, 0.8);
  --accent-dark-trans-90: rgba(0, 128, 77, 0.9);
  --accent-ultra-dark-trans-10: rgba(0, 51, 31, 0.1);
  --accent-ultra-dark-trans-20: rgba(0, 51, 31, 0.2);
  --accent-ultra-dark-trans-30: rgba(0, 51, 31, 0.3);
  --accent-ultra-dark-trans-40: rgba(0, 51, 31, 0.4);
  --accent-ultra-dark-trans-50: rgba(0, 51, 31, 0.5);
  --accent-ultra-dark-trans-60: rgba(0, 51, 31, 0.6);
  --accent-ultra-dark-trans-70: rgba(0, 51, 31, 0.7);
  --accent-ultra-dark-trans-80: rgba(0, 51, 31, 0.8);
  --accent-ultra-dark-trans-90: rgba(0, 51, 31, 0.9);
  --base-trans-10: rgba(64, 64, 64, 0.1);
  --base-trans-20: rgba(64, 64, 64, 0.2);
  --base-trans-30: rgba(64, 64, 64, 0.3);
  --base-trans-40: rgba(64, 64, 64, 0.4);
  --base-trans-50: rgba(64, 64, 64, 0.5);
  --base-trans-60: rgba(64, 64, 64, 0.6);
  --base-trans-70: rgba(64, 64, 64, 0.7);
  --base-trans-80: rgba(64, 64, 64, 0.8);
  --base-trans-90: rgba(64, 64, 64, 0.9);
  --base-light-trans-10: rgba(217, 217, 217, 0.1);
  --base-light-trans-20: rgba(217, 217, 217, 0.2);
  --base-light-trans-30: rgba(217, 217, 217, 0.3);
  --base-light-trans-40: rgba(217, 217, 217, 0.4);
  --base-light-trans-50: rgba(217, 217, 217, 0.5);
  --base-light-trans-60: rgba(217, 217, 217, 0.6);
  --base-light-trans-70: rgba(217, 217, 217, 0.7);
  --base-light-trans-80: rgba(217, 217, 217, 0.8);
  --base-light-trans-90: rgba(217, 217, 217, 0.9);
  --base-dark-trans-10: rgba(64, 64, 64, 0.1);
  --base-dark-trans-20: rgba(64, 64, 64, 0.2);
  --base-dark-trans-30: rgba(64, 64, 64, 0.3);
  --base-dark-trans-40: rgba(64, 64, 64, 0.4);
  --base-dark-trans-50: rgba(64, 64, 64, 0.5);
  --base-dark-trans-60: rgba(64, 64, 64, 0.6);
  --base-dark-trans-70: rgba(64, 64, 64, 0.7);
  --base-dark-trans-80: rgba(64, 64, 64, 0.8);
  --base-dark-trans-90: rgba(64, 64, 64, 0.9);
  --base-ultra-dark-trans-10: rgba(26, 26, 26, 0.1);
  --base-ultra-dark-trans-20: rgba(26, 26, 26, 0.2);
  --base-ultra-dark-trans-30: rgba(26, 26, 26, 0.3);
  --base-ultra-dark-trans-40: rgba(26, 26, 26, 0.4);
  --base-ultra-dark-trans-50: rgba(26, 26, 26, 0.5);
  --base-ultra-dark-trans-60: rgba(26, 26, 26, 0.6);
  --base-ultra-dark-trans-70: rgba(26, 26, 26, 0.7);
  --base-ultra-dark-trans-80: rgba(26, 26, 26, 0.8);
  --base-ultra-dark-trans-90: rgba(26, 26, 26, 0.9);
  --shade-trans-10: rgba(0, 0, 0, 0.1);
  --shade-trans-20: rgba(0, 0, 0, 0.2);
  --shade-trans-30: rgba(0, 0, 0, 0.3);
  --shade-trans-40: rgba(0, 0, 0, 0.4);
  --shade-trans-50: rgba(0, 0, 0, 0.5);
  --shade-trans-60: rgba(0, 0, 0, 0.6);
  --shade-trans-70: rgba(0, 0, 0, 0.7);
  --shade-trans-80: rgba(0, 0, 0, 0.8);
  --shade-trans-90: rgba(0, 0, 0, 0.9);
  --shade-light-trans-10: rgba(217, 217, 217, 0.1);
  --shade-light-trans-20: rgba(217, 217, 217, 0.2);
  --shade-light-trans-30: rgba(217, 217, 217, 0.3);
  --shade-light-trans-40: rgba(217, 217, 217, 0.4);
  --shade-light-trans-50: rgba(217, 217, 217, 0.5);
  --shade-light-trans-60: rgba(217, 217, 217, 0.6);
  --shade-light-trans-70: rgba(217, 217, 217, 0.7);
  --shade-light-trans-80: rgba(217, 217, 217, 0.8);
  --shade-light-trans-90: rgba(217, 217, 217, 0.9);
  --shade-dark-trans-10: rgba(64, 64, 64, 0.1);
  --shade-dark-trans-20: rgba(64, 64, 64, 0.2);
  --shade-dark-trans-30: rgba(64, 64, 64, 0.3);
  --shade-dark-trans-40: rgba(64, 64, 64, 0.4);
  --shade-dark-trans-50: rgba(64, 64, 64, 0.5);
  --shade-dark-trans-60: rgba(64, 64, 64, 0.6);
  --shade-dark-trans-70: rgba(64, 64, 64, 0.7);
  --shade-dark-trans-80: rgba(64, 64, 64, 0.8);
  --shade-dark-trans-90: rgba(64, 64, 64, 0.9);
  --shade-ultra-dark-trans-10: rgba(26, 26, 26, 0.1);
  --shade-ultra-dark-trans-20: rgba(26, 26, 26, 0.2);
  --shade-ultra-dark-trans-30: rgba(26, 26, 26, 0.3);
  --shade-ultra-dark-trans-40: rgba(26, 26, 26, 0.4);
  --shade-ultra-dark-trans-50: rgba(26, 26, 26, 0.5);
  --shade-ultra-dark-trans-60: rgba(26, 26, 26, 0.6);
  --shade-ultra-dark-trans-70: rgba(26, 26, 26, 0.7);
  --shade-ultra-dark-trans-80: rgba(26, 26, 26, 0.8);
  --shade-ultra-dark-trans-90: rgba(26, 26, 26, 0.9);
  --neutral-trans-10: rgba(0, 0, 0, 0.1);
  --neutral-trans-20: rgba(0, 0, 0, 0.2);
  --neutral-trans-30: rgba(0, 0, 0, 0.3);
  --neutral-trans-40: rgba(0, 0, 0, 0.4);
  --neutral-trans-50: rgba(0, 0, 0, 0.5);
  --neutral-trans-60: rgba(0, 0, 0, 0.6);
  --neutral-trans-70: rgba(0, 0, 0, 0.7);
  --neutral-trans-80: rgba(0, 0, 0, 0.8);
  --neutral-trans-90: rgba(0, 0, 0, 0.9);
  --neutral-light-trans-10: rgba(217, 217, 217, 0.1);
  --neutral-light-trans-20: rgba(217, 217, 217, 0.2);
  --neutral-light-trans-30: rgba(217, 217, 217, 0.3);
  --neutral-light-trans-40: rgba(217, 217, 217, 0.4);
  --neutral-light-trans-50: rgba(217, 217, 217, 0.5);
  --neutral-light-trans-60: rgba(217, 217, 217, 0.6);
  --neutral-light-trans-70: rgba(217, 217, 217, 0.7);
  --neutral-light-trans-80: rgba(217, 217, 217, 0.8);
  --neutral-light-trans-90: rgba(217, 217, 217, 0.9);
  --neutral-dark-trans-10: rgba(64, 64, 64, 0.1);
  --neutral-dark-trans-20: rgba(64, 64, 64, 0.2);
  --neutral-dark-trans-30: rgba(64, 64, 64, 0.3);
  --neutral-dark-trans-40: rgba(64, 64, 64, 0.4);
  --neutral-dark-trans-50: rgba(64, 64, 64, 0.5);
  --neutral-dark-trans-60: rgba(64, 64, 64, 0.6);
  --neutral-dark-trans-70: rgba(64, 64, 64, 0.7);
  --neutral-dark-trans-80: rgba(64, 64, 64, 0.8);
  --neutral-dark-trans-90: rgba(64, 64, 64, 0.9);
  --neutral-ultra-dark-trans-10: rgba(26, 26, 26, 0.1);
  --neutral-ultra-dark-trans-20: rgba(26, 26, 26, 0.2);
  --neutral-ultra-dark-trans-30: rgba(26, 26, 26, 0.3);
  --neutral-ultra-dark-trans-40: rgba(26, 26, 26, 0.4);
  --neutral-ultra-dark-trans-50: rgba(26, 26, 26, 0.5);
  --neutral-ultra-dark-trans-60: rgba(26, 26, 26, 0.6);
  --neutral-ultra-dark-trans-70: rgba(26, 26, 26, 0.7);
  --neutral-ultra-dark-trans-80: rgba(26, 26, 26, 0.8);
  --neutral-ultra-dark-trans-90: rgba(26, 26, 26, 0.9);
  --white-trans-10: rgba(255, 255, 255, 0.1);
  --white-trans-20: rgba(255, 255, 255, 0.2);
  --white-trans-30: rgba(255, 255, 255, 0.3);
  --white-trans-40: rgba(255, 255, 255, 0.4);
  --white-trans-50: rgba(255, 255, 255, 0.5);
  --white-trans-60: rgba(255, 255, 255, 0.6);
  --white-trans-70: rgba(255, 255, 255, 0.7);
  --white-trans-80: rgba(255, 255, 255, 0.8);
  --white-trans-90: rgba(255, 255, 255, 0.9);
  --black-trans-10: rgba(0, 0, 0, 0.1);
  --black-trans-20: rgba(0, 0, 0, 0.2);
  --black-trans-30: rgba(0, 0, 0, 0.3);
  --black-trans-40: rgba(0, 0, 0, 0.4);
  --black-trans-50: rgba(0, 0, 0, 0.5);
  --black-trans-60: rgba(0, 0, 0, 0.6);
  --black-trans-70: rgba(0, 0, 0, 0.7);
  --black-trans-80: rgba(0, 0, 0, 0.8);
  --black-trans-90: rgba(0, 0, 0, 0.9);
  --shade-white: #fff;
  --shade-black: #000;
  --bg-ultra-light: var(--white);
  --bg-light: var(--neutral-ultra-light);
  --bg-dark: var(--neutral-ultra-dark);
  --bg-ultra-dark: var(--black);
  --text-light: var(--white);
  --text-light-muted: var(--neutral-light);
  --text-dark: var(--black);
  --text-dark-muted: var(--neutral-dark);
  --body-color: var(--black);
  --body-bg-color: var(--white);
}
:root {
  --success: #29A745;
  --success-light: #c1f0cc;
  --success-dark: #0f3e19;
  --success-hover: #2fc24f;
  --danger: #DC3545;
  --danger-light: #f4bec3;
  --danger-dark: #410b11;
  --danger-hover: #e35a67;
  --warning: #FFC10A;
  --warning-light: #ffecb3;
  --warning-dark: #4d3900;
  --warning-hover: #ffcc32;
  --info: #18A2B8;
  --info-light: #bbeef6;
  --info-dark: #093c44;
  --info-hover: #1cbcd5;
  --text-xs: 1.3rem;
  --text-s: 1.4rem;
  --text-m: 1.8rem;
  --text-l: 2rem;
  --text-xl: 2.3rem;
  --text-xxl: 2.6rem;
  --root-font-size: 62.5%;
  --h6: 1.3rem;
  --h5: 1.4rem;
  --h4: 1.8rem;
  --h3: 2rem;
  --h2: 2.3rem;
  --h1: 2.6rem;
  --space-xs: 1.896rem;
  --space-s: 2.133rem;
  --space-m: 2.4rem;
  --space-l: 2.7rem;
  --space-xl: 3.038rem;
  --space-xxl: 3.42rem;
  --section-space-xs: 3.84rem;
  --section-space-s: 4.8rem;
  --section-space-m: 6rem;
  --section-space-l: 7.5rem;
  --section-space-xl: 9.375rem;
  --section-space-xxl: 11.719rem;
  --width-xs: calc((144 * 0.1) * 1rem);
  --width-s: calc((144 * 0.2) * 1rem);
  --width-m: calc((144 * 0.4) * 1rem);
  --width-l: calc((144 * 0.6) * 1rem);
  --width-xl: calc((144 * 0.8) * 1rem);
  --width-xxl: calc((144 * 0.9) * 1rem);
  --width-vp-max: 144rem;
  --width-content: 144rem;
  --width-50: calc((144 / 2) * 1rem);
  --width-full: 100%;
  --content-width: var(--width-content);
  --content-width-safe: min(var(--width-content), calc(100% - var(--section-padding-x) * 2));
  --radius-xs: 0.4444444444rem;
  --radius-s: 0.6666666667rem;
  --radius-m: 1rem;
  --radius-l: 1.5rem;
  --radius-xl: 2.25rem;
  --radius-xxl: 3.375rem;
  --radius-50: 50%;
  --radius-circle: 50%;
  --grid-1: repeat(1, minmax(0, 1fr));
  --grid-2: repeat(2, minmax(0, 1fr));
  --grid-3: repeat(3, minmax(0, 1fr));
  --grid-4: repeat(4, minmax(0, 1fr));
  --grid-5: repeat(5, minmax(0, 1fr));
  --grid-6: repeat(6, minmax(0, 1fr));
  --grid-7: repeat(7, minmax(0, 1fr));
  --grid-8: repeat(8, minmax(0, 1fr));
  --grid-9: repeat(9, minmax(0, 1fr));
  --grid-10: repeat(10, minmax(0, 1fr));
  --grid-11: repeat(11, minmax(0, 1fr));
  --grid-12: repeat(12, minmax(0, 1fr));
  --grid-1-2: minmax(0, 1fr) minmax(0, 2fr);
  --grid-1-3: minmax(0, 1fr) minmax(0, 3fr);
  --grid-2-1: minmax(0, 2fr) minmax(0, 1fr);
  --grid-2-3: minmax(0, 2fr) minmax(0, 3fr);
  --grid-3-1: minmax(0, 3fr) minmax(0, 1fr);
  --grid-3-2: minmax(0, 3fr) minmax(0, 2fr);
  --grid-auto-2: repeat(auto-fit, minmax(min(46.1538461538rem, 100vw - 6rem), 1fr));
  --grid-auto-3: repeat(auto-fit, minmax(min(34.5864661654rem, 100vw - 6rem), 1fr));
  --grid-auto-4: repeat(auto-fit, minmax(min(27.6553106212rem, 100vw - 6rem), 1fr));
  --grid-auto-5: repeat(auto-fit, minmax(min(23.0383973289rem, 100vw - 6rem), 1fr));
  --grid-auto-6: repeat(auto-fit, minmax(min(19.7424892704rem, 100vw - 6rem), 1fr));
  --section-padding-x: 2.4rem;
  --section-gutter: 2.4rem;
  --gutter: 2.4rem;
  --success-hex: #29A745;
  --success-rgb: 41 167 69;
  --success-hsl: 133 61% 41%;
  --success-h: 133;
  --success-s: 61%;
  --success-l: 41%;
  --success-r: 41;
  --success-g: 167;
  --success-b: 69;
  --danger-hex: #DC3545;
  --danger-rgb: 220 53 69;
  --danger-hsl: 354 70% 54%;
  --danger-h: 354;
  --danger-s: 70%;
  --danger-l: 54%;
  --danger-r: 220;
  --danger-g: 53;
  --danger-b: 69;
  --warning-hex: #FFC10A;
  --warning-rgb: 255 193 10;
  --warning-hsl: 45 100% 52%;
  --warning-h: 45;
  --warning-s: 100%;
  --warning-l: 52%;
  --warning-r: 255;
  --warning-g: 193;
  --warning-b: 10;
  --info-hex: #18A2B8;
  --info-rgb: 24 162 184;
  --info-hsl: 188 77% 41%;
  --info-h: 188;
  --info-s: 77%;
  --info-l: 41%;
  --info-r: 24;
  --info-g: 162;
  --info-b: 184;
  --header-height: 0rem;
  --offset: 0rem;
  --offset-xxl: 0rem;
  --offset-xl: 0rem;
  --offset-l: 0rem;
  --offset-m: 0rem;
  --offset-s: 0rem;
  --offset-xs: 0rem;
  --paragraph-spacing: 1em;
  --heading-spacing: 1.5em;
  --list-spacing: 1em;
  --list-item-spacing: 0.5em;
  --link-underline-offset: 0;
  --focus-color: var(--action);
  --focus-width: 0.2rem;
  --focus-offset: 0.25em;
  --h1-lh: 1.2;
  --h2-lh: 1.2;
  --h3-lh: 1.2;
  --h4-lh: 1.2;
  --h5-lh: 1.2;
  --h6-lh: 1.2;
  --text-xxl-lh: 1.5;
  --text-xl-lh: 1.5;
  --text-l-lh: 1.5;
  --text-m-lh: 1.5;
  --text-s-lh: 1.5;
  --text-xs-lh: 1.5;
  --box-shadow-m: 0 4px 4px -10px rgba(0, 0, 0, 0.04), 0 13px 13px -10px rgba(0, 0, 0, 0.06), 0 40px 60px -10px rgba(0, 0, 0, 0.08);
  --box-shadow-l: 0 2.7px 3.6px -5px rgba(0, 0, 0, 0.04), 0 7.5px 10px -5px rgba(0, 0, 0, 0.06), 0 18px 24.1px -5px rgba(0, 0, 0, 0.08), 0 60px 80px -5px rgba(0, 0, 0, 0.1);
  --box-shadow-xl: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px -5px rgba(0, 0, 0, 0.04), 0 12.5px 10px -5px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px -5px rgba(0, 0, 0, 0.08), 0 41.8px 33.4px -5px rgba(0, 0, 0, 0.1), 0 80px 80px -5px rgba(0, 0, 0, 0.105);
  --box-shadow-1: 0 4px 4px -10px rgba(0, 0, 0, 0.04), 0 13px 13px -10px rgba(0, 0, 0, 0.06), 0 40px 60px -10px rgba(0, 0, 0, 0.08);
  --box-shadow-2: 0 2.7px 3.6px -5px rgba(0, 0, 0, 0.04), 0 7.5px 10px -5px rgba(0, 0, 0, 0.06), 0 18px 24.1px -5px rgba(0, 0, 0, 0.08), 0 60px 80px -5px rgba(0, 0, 0, 0.1);
  --box-shadow-3: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px -5px rgba(0, 0, 0, 0.04), 0 12.5px 10px -5px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px -5px rgba(0, 0, 0, 0.08), 0 41.8px 33.4px -5px rgba(0, 0, 0, 0.1), 0 80px 80px -5px rgba(0, 0, 0, 0.105);
  --admin-bar-height: var(--wp-admin--admin-bar--height, 0px);
}
:root {
  --btn-padding-block: 0.75em;
  --btn-padding-inline: 1.5em;
  --btn-min-width: 14rem;
  --btn-line-height: 1;
  --btn-font-weight: 400;
  --btn-font-style: normal;
  --btn-text-decoration: none;
  --btn-text-decoration-hover: none;
  --btn-letter-spacing: 0;
  --btn-text-transform: none;
  --btn-border-width: 0.25rem;
  --btn-outline-border-width: 0.25rem;
  --btn-border-style: solid;
  --btn-border-radius: 0;
  --btn-transition-duration: 0.3s;
}
/* Deprecated in ACSS 2.7 */
:root {
  --btn-border-size: 0.25rem;
  --btn-radius: 0;
  --outline-btn-border-size: 0.25rem;
  --btn-pad-x: 1.5em;
  --btn-pad-y: 0.75em;
  --btn-text-style: normal;
  --btn-weight: 400;
  --btn-width: 14;
}
:root {
  --col-width-s: 13rem;
  --col-width-m: 25rem;
  --col-width-l: 38rem;
  --col-rule-width-s: 0.1em;
  --col-rule-width-m: 0.3em;
  --col-rule-width-l: 0.5em;
}
:root {
  --sticky-s: 2.5%;
  --sticky-m: 5%;
  --sticky-l: 10%;
}
:root {
  --content-gap: var(--space-m);
  --fr-content-gap: var(--space-m);
  --container-gap: var(--space-xl);
  --fr-container-gap: var(--space-xl);
  --grid-gap: var(--space-m);
  --fr-grid-gap: var(--space-m);
}
