<!doctype html>
<html lang="es-ES">
  <head>
    <meta charset="UTF-8"/>
        <!-- ALA dependencies (loaded by grails modules) -->
    <!-- During development of local html pages (like the main index) we need to load them -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/ala-styles.min.css">
    <link rel="stylesheet" href="css/ala-theme.min.css">

    <!-- <link rel="stylesheet" href="css/autocomplete.min.css">
         <link rel="stylesheet" href="css/autocomplete-extra.min.css"> -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migration.min.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/autocomplete.min.js"></script>
    <script src="js/application.min.js"></script>
    <!-- End ALA dependencies -->

    <!-- included head -->
<!-- Google Analytics: Put here your UA id -->
<script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-XXXXXXXX-1', 'auto');
  ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->

<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">


<!-- End included head -->

  </head>
  <body>
    <!-- We add this here instead of in head because it seems that CAS doesn't load head.html -->
<!-- Optional: Material Design Lite Page styles -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://l-a.site/material-lite/material.min.css">
<!-- End: Material Design Lite -->

<!-- Experimental: Use of bootstrap-material-design compatible with BS3 -->
<script src="https://l-a.site/custom-bootstrap/material.min.js"></script>
<script src="https://l-a.site/custom-bootstrap/ripples.min.js"></script>
<link rel="stylesheet" href="https://l-a.site/custom-bootstrap/bootstrap-material-design.min.css">
<link rel="stylesheet" href="https://l-a.site/custom-bootstrap/ripples.min.css">
<script>$(document).ready(function() { window.$.material.init(); });</script>
<!--[if IE]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.2.0/es5-shim.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
<![endif]-->
<!-- End bootstrap-material-design -->

<!-- Minified version of `es6-promise-auto` below. (required for IE) -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

<!-- This is our js/css generated by brunch -->
<link rel="stylesheet" href="https://l-a.site/css/app.css?bf54eba">
<script src="https://l-a.site/js/vendor.js?bf54eba"></script>
<script src="https://l-a.site/js/app.js?bf54eba"></script>
<script>require('js/init');</script>
<!-- end of self js -->

<!-- site-banner -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <div class="la-header mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
      <span class="la-title mdl-layout-title">
        <a href="https://l-a.site">
          ATLAS OF LIVING WAKANDA
        </a>
      </span>
      <!-- Add spacer, to align navigation to the right in desktop -->
      <div class="la-header-spacer mdl-layout-spacer"></div>

      <div class="la-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
        <label id="top-search-icon" class="mdl-button mdl-js-button mdl-button--icon" for="autocompleteHeader">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-tooltip" data-i18n="nav.searchbox" for="top-search-icon"></div>
        <div class="mdl-textfield__expandable-holder">
          <form method="get" action="https://especies.gbif.es/search" class="search-form">
            <input name="q" id="autocompleteHeader"
                   class="mdl-textfield__input" type="text">
            <div class="mdl-tooltip" data-i18n="nav.searchbox" for="top-search-field"></div>
          </form>
        </div>
      </div>

      <!-- Navigation -->
      <div class="la-navigation-container">
        <nav class="la-navigation mdl-navigation">

          <a data-i18n="nav.collectory" class="mdl-navigation__link mdl-typography--text-uppercase" href="https://collections.l-a.site"></a>
          <a data-i18n="nav.biocache" class="mdl-navigation__link mdl-typography--text-uppercase" href="https://biocache.l-a.site"></a>
          <a data-i18n="nav.datasets" class="mdl-navigation__link mdl-typography--text-uppercase" href="https://collections.l-a.site/datasets"></a>
          <a data-i18n="nav.your-area" class="mdl-navigation__link mdl-typography--text-uppercase" href="https://biocache.l-a.site/explore/your-area/"></a>

        </nav>
      </div>
      <span class="la-mobile-title mdl-layout-title">
        <a href="https://l-a.site">
          ATLAS OF LIVING WAKANDA
        </a>
      </span>
      <button class="la-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="locale-switcher mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
        <li class="locale-link mdl-menu__item" data-locale="en"><a class="en-locale-link" href=""><span class="lang_link_en">English</span></a></li>
        <li class="locale-link mdl-menu__item" data-locale="es"><a class="es-locale-link" href=""><span class="lang_link_es">Español</span></a></li>
        <li class="locale-link mdl-menu__item" data-locale="zh"><a class="zh-CN-locale-link" href=""><span class="lang_link_zh-CN">简体中文</span></a></li>
      </ul>
    </div>
  </div>

  <div class="la-drawer mdl-layout__drawer">
    <span class="mdl-layout-title">

      ATLAS OF LIVING WAKANDA

    </span>
    <nav id="drawer-nav-menu" class="mdl-navigation ::loginStatus::">
      <a data-i18n="nav.login" class="mdl-navigation__link loginBtn" href="https://auth.l-a.site/cas/login"></a>
      <a data-i18n="nav.myprofile" class="mdl-navigation__link myProfileBtn" href="https://auth.l-a.site/userdetails/myprofile/"></a>
      <a data-i18n="nav.logout" class="mdl-navigation__link logoutBtn" href="https://auth.l-a.site/cas/logout"></a>
      <a data-i18n="nav.create-account" class="mdl-navigation__link signUpBtn" href="https://auth.l-a.site/userdetails/registration/createAccount"></a>
      <div class="la-drawer-separator"></div>
      <a data-i18n="nav.collectory" class="mdl-navigation__link" href="https://collections.l-a.site"></a>
      <a data-i18n="nav.biocache" class="mdl-navigation__link" href="https://biocache.l-a.site"></a>
      <a data-i18n="nav.species" class="mdl-navigation__link" href="https://especies.gbif.es"></a>
      <a data-i18n="nav.regions" class="mdl-navigation__link" href="https://regions.l-a.site"></a>
      <a data-i18n="nav.species-lists" class="mdl-navigation__link" href="https://lists.l-a.site"></a>
      <a data-i18n="nav.datasets" class="mdl-navigation__link" href="https://collections.l-a.site/datasets"></a>
      <a data-i18n="nav.images" class="mdl-navigation__link" href="https://images.l-a.site"></a>
      <a data-i18n="nav.spatial" class="mdl-navigation__link" href="https://spatial.l-a.site"></a>
    </nav>
  </div>
  <div class="container" id="autocompleteSearchALA" class="collapse">
  </div>
  <script type="text/html" id="autoCompleteTemplate">
    <li class="autocomplete-item striped">
      <div class="content-spacing">
        <div class="autocomplete-heading">
          <% if (commonNameMatches.length > 0) { %>
          <%=commonNameMatches[0]%>
          <% } else if (scientificNameMatches.length > 0) { %>
          <%=scientificNameMatches[0]%>
          <% } else { %>
          <%=matchedNames[0]%>
          <% } %>
        </div>
      </div>
    </li>
  </script>
  <!-- end site-banner -->
  <!-- maintenance -->
  <div id="mante-container" style="display: none;" class="container"></div>
  <!-- end maintenance -->
  <!-- main content -->
  <div tabindex="-1" id="main_content" class="la-content mdl-layout__content">
    <div class="la-main-content">
      <a name="top"></a>

    <script>require('js/settings').inMante=false;</script>
    <div id="mante-container" class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="error-template">
            <h1 data-i18n="error.title"></h1>
            <h2 data-i18n="error.subtitle"></h2>
            <div>
              <p data-i18n="error.description"></p>
            </div>
            <div class="error-actions">
              <a data-i18n="error.button" href="${settings.mainLAUrl}" style="margin-top: 10px;" class="btn btn-primary btn-lg"></a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img src="images/error.svg" alt="Error Image" onerror="this.onerror=null; this.src='images/error.png'">
        </div>
      </div>
    </div>
    </div>
    <!-- Footer -->
<!-- TODO: Add sticky footer for small contents -->
</div>
<div class="la-footer-content">

<footer class="la-footer mdl-mega-footer">
  <div class="mdl-mega-footer--top-section">
    <div class="mdl-mega-footer--left-section">
      <button title="twitter" class="mdl-mega-footer--social-btn">1</button>
      &nbsp;
      <button title="flickr" class="mdl-mega-footer--social-btn">2</button>
      &nbsp;
      <button title="Facebook" class="mdl-mega-footer--social-btn">3</button>
    </div>
    <div class="mdl-mega-footer--right-section">
      <a class="mdl-typography--font-light" href="#top">
        Back to Top
        <i class="material-icons">expand_less</i>
      </a>
    </div>
  </div>

  <div class="mdl-mega-footer--middle-section">
    <div class="mdl-mega-footer--right-section">
      <img src="https://l-a.site/images/tdwg.png">&nbsp;&nbsp;<img src="https://l-a.site/images/gbif.png">
    </div>
    <p class="mdl-typography--font-light">Licence: </p>
    <p class="mdl-typography--font-light">© 2020 Wakanda National Biodiversity Office</p>
  </div>

  <div class="mdl-mega-footer--bottom-section">
    <a class="la-link la-link-menu mdl-typography--font-light" id="version-dropdown">
      Language
      <i class="material-icons">arrow_drop_up</i>
    </a>
    <ul class="locale-switcher mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="version-dropdown">
      <li class="locale-link mdl-menu__item" data-locale="en"><a class="en-locale-link" href=""><span class="lang_link_en">English</span></a></li>
      <li class="locale-link mdl-menu__item" data-locale="es"><a class="es-locale-link" href=""><span class="lang_link_es">Español</span></a></li>
      <li class="locale-link mdl-menu__item" data-locale="zh"><a class="zh-CN-locale-link" href=""><span class="lang_link_zh-CN">简体中文</span></a></li>
    </ul>
    <a class="la-link la-link-menu mdl-typography--font-light" id="developers-dropdown">
      For Researchers
      <i class="material-icons">arrow_drop_up</i>
    </a>
    <ul class="mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="developers-dropdown">
      <li class="mdl-menu__item">Some link</li>
      <li class="mdl-menu__item">Another link</li>
      <li class="mdl-menu__item">Whatever</li>
    </ul>
    <a class="la-link mdl-typography--font-light" href="">Blog</a>
    <a class="la-link mdl-typography--font-light" href="">Privacy Policy</a>
  </div>
</div>
</div>
</footer>
<!-- End footer -->
</div>
<script src="https://l-a.site/material-lite/material.min.js"></script>
<script type="text/javascript">
  function focusScroll() {
    // Allow to move with PgUp/Down the main contain without having to focus manually
    $("#main_content").trigger('focus');
  }
  function smoothScrollingTo(target){
    var nameValue = $.attr(target, 'href').substr(1)
    // console.log(`Name value: ${nameValue}`);
    $('.mdl-layout__content').animate({scrollTop:$('[name="' + nameValue + '"]').offset().top}, 500);
  }
  $('a[href*=\\#]').on('click', function(event){
    event.preventDefault();
    smoothScrollingTo(this);
  });
</script>

  </body>
</html>
