<!doctype html>
<html lang="es-ES">
<head>
  <meta charset="UTF-8"/>
      <!-- ALA dependencies (loaded by grails modules) -->
    <!-- During development of local html pages (like the main index) we need to load them -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/ala-styles.min.css">
    <link rel="stylesheet" href="css/ala-theme.min.css">

    <!-- <link rel="stylesheet" href="css/autocomplete.min.css">
         <link rel="stylesheet" href="css/autocomplete-extra.min.css"> -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migration.min.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/autocomplete.min.js"></script>
    <script src="js/application.min.js"></script>
    <!-- End ALA dependencies -->

  <!-- included head -->
<!-- Google Analytics: Put here your UA id -->
<script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-XXXXXXXX-1', 'auto');
  ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->

<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">


<!-- End included head -->

</head>
<body>
<!-- We add this here instead of in head because it seems that CAS doesn't load head.html -->
<!-- Optional: Material Design Lite Page styles -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://l-a.site/material-lite/material.min.css">
<!-- End: Material Design Lite -->

<!-- Experimental: Use of bootstrap-material-design compatible with BS3 -->
<script src="https://l-a.site/custom-bootstrap/material.min.js"></script>
<script src="https://l-a.site/custom-bootstrap/ripples.min.js"></script>
<link rel="stylesheet" href="https://l-a.site/custom-bootstrap/bootstrap-material-design.min.css">
<link rel="stylesheet" href="https://l-a.site/custom-bootstrap/ripples.min.css">
<script>$(document).ready(function() { window.$.material.init(); });</script>
<!--[if IE]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.2.0/es5-shim.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
<![endif]-->
<!-- End bootstrap-material-design -->

<!-- Minified version of `es6-promise-auto` below. (required for IE) -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

<!-- This is our js/css generated by brunch -->
<link rel="stylesheet" href="https://l-a.site/css/app.css?a8fa408">
<script src="https://l-a.site/js/vendor.js?a8fa408"></script>
<script src="https://l-a.site/js/app.js?a8fa408"></script>
<script>require('js/init');</script>
<!-- end of self js -->

<!-- site-banner -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <div class="la-header mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
      <span class="la-title mdl-layout-title">

        ATLAS OF LIVING WAKANDA

      </span>
      <!-- Add spacer, to align navigation to the right in desktop -->
      <div class="la-header-spacer mdl-layout-spacer"></div>

      <div class="la-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
        <label id="top-search-icon" class="mdl-button mdl-js-button mdl-button--icon" for="autocompleteHeader">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-tooltip" data-i18n="nav.searchbox" for="top-search-icon"></div>
        <div class="mdl-textfield__expandable-holder">
          <form method="get" action="https://especies.gbif.es/search" class="search-form">
            <input name="q" id="autocompleteHeader"
                   class="mdl-textfield__input" type="text">
            <div class="mdl-tooltip" data-i18n="nav.searchbox" for="top-search-field"></div>
          </form>
        </div>
      </div>

      <!-- Navigation -->
      <div class="la-navigation-container">
        <nav class="la-navigation mdl-navigation">

          <a data-i18n="nav.collectory" class="mdl-navigation__link mdl-typography--text-uppercase" href="https://collections.l-a.site"></a>
          <a data-i18n="nav.biocache" class="mdl-navigation__link mdl-typography--text-uppercase" href="https://biocache.l-a.site"></a>
          <a data-i18n="nav.datasets" class="mdl-navigation__link mdl-typography--text-uppercase" href="https://collections.l-a.site/datasets"></a>
          <a data-i18n="nav.your-area" class="mdl-navigation__link mdl-typography--text-uppercase" href="https://biocache.l-a.site/explore/your-area/"></a>

        </nav>
      </div>
      <span class="la-mobile-title mdl-layout-title">

        ATLAS OF LIVING WAKANDA

      </span>
      <button class="la-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="locale-switcher mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
        <li class="locale-link mdl-menu__item" data-locale="en"><a class="en-locale-link" href=""><span class="lang_link_en">English</span></a></li>
        <li class="locale-link mdl-menu__item" data-locale="es"><a class="es-locale-link" href=""><span class="lang_link_es">Español</span></a></li>
        <li class="locale-link mdl-menu__item" data-locale="zh"><a class="zh-CN-locale-link" href=""><span class="lang_link_zh-CN">简体中文</span></a></li>
      </ul>
    </div>
  </div>

  <div class="la-drawer mdl-layout__drawer">
    <span class="mdl-layout-title">

      ATLAS OF LIVING WAKANDA

    </span>
    <nav id="drawer-nav-menu" class="mdl-navigation signedOut">
      <a data-i18n="nav.login" class="mdl-navigation__link loginBtn" href="https://auth.l-a.site/cas/login"></a>
      <a data-i18n="nav.myprofile" class="mdl-navigation__link myProfileBtn" href="https://auth.l-a.site/userdetails/myprofile/"></a>
      <a data-i18n="nav.logout" class="mdl-navigation__link logoutBtn" href="https://auth.l-a.site/cas/logout"></a>
      <a data-i18n="nav.create-account" class="mdl-navigation__link signUpBtn" href="https://auth.l-a.site/userdetails/registration/createAccount"></a>
      <div class="la-drawer-separator"></div>
      <a data-i18n="nav.collectory" class="mdl-navigation__link" href="https://collections.l-a.site"></a>
      <a data-i18n="nav.biocache" class="mdl-navigation__link" href="https://biocache.l-a.site"></a>
      <a data-i18n="nav.species" class="mdl-navigation__link" href="https://especies.gbif.es"></a>
      <a data-i18n="nav.regions" class="mdl-navigation__link" href="https://regions.l-a.site"></a>
      <a data-i18n="nav.species-lists" class="mdl-navigation__link" href="https://lists.l-a.site"></a>
      <a data-i18n="nav.datasets" class="mdl-navigation__link" href="https://collections.l-a.site/datasets"></a>
      <a data-i18n="nav.images" class="mdl-navigation__link" href="https://images.l-a.site"></a>
      <a data-i18n="nav.spatial" class="mdl-navigation__link" href="https://spatial.l-a.site"></a>
    </nav>
  </div>
  <div class="container" id="autocompleteSearchALA" class="collapse">
  </div>
  <script type="text/html" id="autoCompleteTemplate">
    <li class="autocomplete-item striped">
      <div class="content-spacing">
        <div class="autocomplete-heading">
          <% if (commonNameMatches.length > 0) { %>
          <%=commonNameMatches[0]%>
          <% } else if (scientificNameMatches.length > 0) { %>
          <%=scientificNameMatches[0]%>
          <% } else { %>
          <%=matchedNames[0]%>
          <% } %>
        </div>
      </div>
    </li>
  </script>
  <!-- end site-banner -->
  <!-- main content -->
  <div tabindex="-1" id="main_content" class="la-content mdl-layout__content">
    <div class="la-main-content">
      <a name="top"></a>

<section id="breadcrumb">
    <div class="container">
        <div class="row">
            <ul class="breadcrumb-list">
                <li><a href="/">Home</a></li>
                <li class="active">Who we are</li>
            </ul>
        </div>
    </div>
</section>
<div id="INSERT_CONTENT_ID_HERE" class="container">
    <section class="content-container">
        <div class="row">
            <article class="col-md-12 header-wrap margin-bottom-half-1">
              <h5 class="subject-category-overline">Knowledge Base (h5)</h5>
              <h1 class="subject-title">Who? (h1) </h1>
              <h2 class="subject-title">Who we are (h2)</h2>
              <h3 class="subject-subtitle">The Atlas of Living Australia (ALA) (h3) provides free, online access to
                    information about Australia’s amazing biodiversity. It is collaborative, open infrastructure that
                pulls together biodiversity data from multiple sources, and makes it accessible and reusable.</h3>
              <h4>Text in h4</h4>
            </article>

            <div class="col-md-5">
              <form class="listSearchForm">
                <div class="input-group" id="searchLists">
                  <input id="appendedInputButton" class="form-control" name="q" type="text" value="" placeholder="Search in list name, description or owner">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">Search</button>
                  </div>
                </div>
              </form>
            </div>

            <article class="col-md-12" id="alaEditable">
                <!-- Start editable content -->
                <div class="col-md-3 col-md-push-9 sidebar-col" id="toc-wrapper">
                    <div id="toc_container" class="no_bullets toc-floating-menu affix-bottom" data-spy="affix"
                         data-offset-top="300"
                         style="width: 245px; top: -264.5px;"><h4>Page contents:</h4>
                        <div class="profile-usermenu margin-bottom-2">
                            <ul class="toc_list nav">
                                <li><a href="#Introduction">Introduction</a></li>
                                <li><a href="#Our_mission">Our mission</a></li>
                                <li><a href="#Our_focus">Our focus</a></li>
                                <li><a href="#Our_users">Our users</a></li>
                                <li><a href="#Our_impact">Our impact</a></li>
                                <li><a href="#Governance">Governance</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div id="alaInnerEditable" class="col-md-8 col-md-pull-3" style="padding-left: 0px;"><h4 id="intro">
                  <span class="pull-right">
                    <a class="btn btn-primary" title="Add Species List" href="/speciesList/upload">Upload a list</a>
                    <a class="btn btn-primary" title="My Lists" href="/speciesList/list">My Lists</a>
                  </span>
                    <span id="Introduction">Introduction</span></h4>
                    <p>The ALA&nbsp;is Australia’s national biodiversity database. Founded on the principle of data
                        sharing – collect it once, share it, use it many times – the ALA provides free, online access to&nbsp;millions
                        of&nbsp;occurrence records&nbsp;to form&nbsp;the most&nbsp;comprehensive and accessible data set
                        on Australia’s biodiversity ever produced.&nbsp; &nbsp;</p>
                    <p>By aggregating biodiversity information and making it more available online, the ALA is assisting
                        scientists, planners, managers and others to create a more detailed picture of Australia’s
                        biodiversity.&nbsp;The ALA is used for research, environmental monitoring, conservation planning
                        and management, education, and citizen science activities.</p><h4><span id="Our_mission">Our mission</span>
                    </h4>
                    <p>To lead the digital transformation of Australia’s biodiversity knowledge, promoting excellence
                        and enabling collaboration in biodiversity research.</p><h4><span
                            id="Our_focus">Our focus</span></h4>
                    <p>The ALA pulls together two basic types of information about Australia’s living things: species
                        and environments. We create tools for our users to share and analyse this data in different
                        ways.</p>
                    <p>We are committed to the principles of open data and infrastructure.</p><h4><span id="Our_users">Our users</span>
                    </h4>
                    <p>The ALA&nbsp;supports a wide range of users across a number of fields.&nbsp;We support research,
                        environmental monitoring, conservation planning, education, and citizen science just to name a
                        few.&nbsp;</p>
                    <p>We create tools to help users capture, share and interrogate biodiversity information in
                        increasingly efficient ways.</p><h4><span id="Our_impact">Our impact</span></h4>
                    <p>By enabling science, industry and&nbsp;decision makers to work more efficiently, we impact many
                        diverse areas of Australian biodiversity research and sustainability practice.</p>
                    <p>We are an essential resource for biodiversity conservation, sustainable ecosystem development,
                        new species discoveries, systematics (relationships between living things), taxonomy (naming and
                        classification), digitisation of biological collections, natural resource management and
                        environmental impact assessments.</p><h4><span id="Governance">Governance</span></h4>
                    <p>The ALA is made possible thanks to contributions from our many partners. The ALA&nbsp;receives
                        support&nbsp;from the Australian Government through the National Collaborative Research
                        Infrastructure Strategy (NCRIS) and is hosted by CSIRO. It is a node of the Global Biodiversity
                        Infrastructure Facility (GBIF).</p></div>
                <!-- End editable content -->
            </article>
        </div>
    </section>
</div>
<!-- Footer -->
<!-- TODO: Add sticky footer for small contents -->
</div>
<div class="la-footer-content">

<footer class="la-footer mdl-mega-footer">
  <div class="mdl-mega-footer--top-section">
    <div class="mdl-mega-footer--left-section">
      <button title="twitter" class="mdl-mega-footer--social-btn">1</button>
      &nbsp;
      <button title="flickr" class="mdl-mega-footer--social-btn">2</button>
      &nbsp;
      <button title="Facebook" class="mdl-mega-footer--social-btn">3</button>
    </div>
    <div class="mdl-mega-footer--right-section">
      <a class="mdl-typography--font-light" href="#top">
        Back to Top
        <i class="material-icons">expand_less</i>
      </a>
    </div>
  </div>

  <div class="mdl-mega-footer--middle-section">
    <div class="mdl-mega-footer--right-section">
      <img src="https://l-a.site/images/tdwg.png">&nbsp;&nbsp;<img src="https://l-a.site/images/gbif.png">
    </div>
    <p class="mdl-typography--font-light">Licence: </p>
    <p class="mdl-typography--font-light">© 2020 Wakanda National Biodiversity Office</p>
  </div>

  <div class="mdl-mega-footer--bottom-section">
    <a class="la-link la-link-menu mdl-typography--font-light" id="version-dropdown">
      Language
      <i class="material-icons">arrow_drop_up</i>
    </a>
    <ul class="locale-switcher mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="version-dropdown">
      <li class="locale-link mdl-menu__item" data-locale="en"><a class="en-locale-link" href=""><span class="lang_link_en">English</span></a></li>
      <li class="locale-link mdl-menu__item" data-locale="es"><a class="es-locale-link" href=""><span class="lang_link_es">Español</span></a></li>
      <li class="locale-link mdl-menu__item" data-locale="zh"><a class="zh-CN-locale-link" href=""><span class="lang_link_zh-CN">简体中文</span></a></li>
    </ul>
    <a class="la-link la-link-menu mdl-typography--font-light" id="developers-dropdown">
      For Researchers
      <i class="material-icons">arrow_drop_up</i>
    </a>
    <ul class="mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="developers-dropdown">
      <li class="mdl-menu__item">Some link</li>
      <li class="mdl-menu__item">Another link</li>
      <li class="mdl-menu__item">Whatever</li>
    </ul>
    <a class="la-link mdl-typography--font-light" href="">Blog</a>
    <a class="la-link mdl-typography--font-light" href="">Privacy Policy</a>
  </div>
</div>
</div>
</footer>
<!-- End footer -->
</div>
<script src="https://l-a.site/material-lite/material.min.js"></script>
<script type="text/javascript">
  function focusScroll() {
    // Allow to move with PgUp/Down the main contain without having to focus manually
    $("#main_content").trigger('focus');
  }
  function smoothScrollingTo(target){
    var nameValue = $.attr(target, 'href').substr(1)
    // console.log(`Name value: ${nameValue}`);
    $('.mdl-layout__content').animate({scrollTop:$('[name="' + nameValue + '"]').offset().top}, 500);
  }
  $('a[href*=\\#]').on('click', function(event){
    event.preventDefault();
    smoothScrollingTo(this);
  });
</script>

</body>
</html>
